:root {
    --f-regular: "Regular";
    --f-bold: "Bold";
    --gray: #7e7e7e;
    --bg: #edebdd;
    --text: #000000;
    --shadow: rgba(0, 0, 0, 0.1);
    --color-primary: #780000;
}

.dark-theme {
    --gray: #1b1b1b;
    --bg: #000000;
    --text: #ffffff;
    --shadow: rgba(255, 255, 255, 0.1);
    --color-primary: #780000;
}

// Fonts
@font-face {
    font-family: 'Bold';
    src: url('./assets/fonts/Onest-Bold.ttf') format("OpenType");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Regular';
    src: url('./assets/fonts/Onest-Regular.ttf') format("OpenType");
    font-weight: normal;
    font-style: normal;
}

// Styles
* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    scroll-behavior: smooth;
    margin: 0;
}

h1,
h2,
h3 {
    font-family: var(--f-bold) !important;
}

h1 {
    font-size: 24px !important;
}


p,
a {
    font-family: var(--f-regular) !important;
}



html,
body,
#root {
    overflow-x: hidden;
    width: 100%;
    background-attachment: fixed;
    min-height: 100vh;
    height: auto;

    ::-webkit-scrollbar {
        display: none;
    }

}


.pin-lock {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(var(--vh, 1vh) * 100);
    background: var(--color-primary);
    text-align: center;
    gap: 16px;

    img {
        width: 150px;
    }

    p {
        width: 250px;
        font-size: 18px;
        color: var(--bg);
        font-family: var(--f-regular);
    }

    h1 {
        margin-top: 32px;
        font-size: 24px;
        color: var(--bg);
        font-family: var(--f-bold);

    }

    .pin-dots {
        display: flex;
        gap: 10px;
        margin: 16px 0;

        span {
            width: 14px;
            height: 14px;
            border-radius: 50%;
            border: 1px solid var(--gray);
            background: transparent;
            transition: bckgrd 0.2s;

            &.filled {
                background: var(--gray);
            }
        }

        &.error {
            animation: shake 0.3s ease-in-out;

            span {
                border-color: red;

                &.filled {
                    background: rgb(255, 0, 0);
                }
            }
        }
    }

    .pin-pad {
        display: grid;
        grid-template-columns: repeat(3, 60px);
        gap: 15px;

        .digit-btn {
            width: 60px;
            height: 60px;
            font-size: 22px;
            background: var(--gray);
            border: none;
            border-radius: 12px;
            transition: transform 0.1s, bckgrd 0.2s;
            cursor: pointer;

            &:active {
                transform: scale(0.9);
                background: var(--gray);
            }
        }
    }
}

@keyframes shake {

    0%,
    100% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-8px);
    }

    50% {
        transform: translateX(8px);
    }

    75% {
        transform: translateX(-8px);
    }
}


.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 28px;
    background: var(--bg);

    input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: var(--gray);
        transition: 0.4s;
        border-radius: 34px;

        &::before {
            position: absolute;
            content: "";
            height: 20px;
            width: 20px;
            left: 4px;
            bottom: 4px;
            background-color: var(--bg);
            transition: 0.4s;
            border-radius: 50%;
        }
    }

    input:checked+.slider {
        background: var(--color-primary);
    }

    input:checked+.slider::before {
        transform: translateX(22px);
    }
}

.main-wrapper {
    height: calc(var(--vh, 1vh) * 100);
}