.footer-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: var(--color-primary);

  .MuiBottomNavigation-root {
    background-color: #fff;
  }

  .MuiBottomNavigationAction-root {
    color: #777;
    font-size: 16px;

    &.Mui-selected {
      color: var(--color-primary);
    }
  }
}
